GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"

FORMSUBMIT_TOKEN="b866814218e8049ccc405969ca1c2c9e6d6cae7a6966036965c157ba1975dac2"
QUOTE_RECIPIENT_EMAIL="contact@mspb-tech.com"
QUOTE_CC_EMAIL="ashikerogan@mspb-tech.com"

SMTP_HOST=""
SMTP_PORT=""
SMTP_SECURE=""
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""